DATA CLEANING

In [1]:
import numpy as np
import pandas as pd

In [2]:
nufus=pd.read_csv("./datasets/dunyanufusu.csv")
nufus

,Sıralama,Ülke,Nüfüs,Yıllık değişim oranı,Yıllık değişim,Kişi/km2,km2,Göçmen,Doğum oranı,Ortalama yaş,Şehirleşme oranı,Dünya nüfus oranı
0,1.0,China,"1,415,045,928",0.39 %,"5,528,531",151,"9,388,211","-339,69",1.6,37.0,58 %,18.54 %
1,2.0,India,"1,354,051,854",1.11 %,"14,871,727",455,"2,973,190","-515,643",2.4,27.0,32 %,17.74 %
2,3.0,U.S.,"326,766,748",0.71 %,"2,307,285",36,"9,147,420",900,1.9,38.0,83 %,4.28 %
3,4.0,Indonesia,"266,794,980",1.06 %,"2,803,601",147,"1,811,570",-167,2.5,28.0,54 %,3.50 %
4,5.0,Brazil,"210,867,954",0.75 %,"1,579,676",25,"8,358,140","3,185",1.8,31.0,84 %,2.76 %
...,...,...,...,...,...,...,...,...,...,...,...,...
228,229.0,Saint Helena,"4,074",0.62 %,25,10,390,NaN,NaN,NaN,40 %,0.00 %
229,230.0,Falkland Islands,"2,922",0.41 %,12,0,"12,17",NaN,NaN,NaN,81 %,0.00 %
230,231.0,Niue,"1,624",0.37 %,6,6,260,NaN,NaN,NaN,33 %,0.00 %
231,232.0,Tokelau,"1,319",1.46 %,19,132,10,NaN,NaN,NaN,0 %,0.00 %
232,233.0,Holy See,801,1.14 %,9,"2,003",0,NaN,NaN,NaN,NaN,0.00 %

In [3]:
nufus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Sıralama              232 non-null    float64
 1   Ülke                  232 non-null    object
 2   Nüfüs                 232 non-null    object
 3   Yıllık değişim oranı  232 non-null    object
 4   Yıllık değişim        232 non-null    object
 5   Kişi/km2              232 non-null    object
 6   km2                   232 non-null    object
 7   Göçmen                200 non-null    object
 8   Doğum oranı           198 non-null    float64
 9   Ortalama yaş          200 non-null    float64
 10  Şehirleşme oranı      225 non-null    object
 11  Dünya nüfus oranı     232 non-null    object
dtypes: float64(3), object(9)
memory usage: 22.0+ KB

In [4]:
nufus.isnull()
nufus.isna().sum()
nufus.isna().all()
nufus.isnull().any()

Sıralama                True
Ülke                    True
Nüfüs                   True
Yıllık değişim oranı    True
Yıllık değişim          True
Kişi/km2                True
km2                     True
Göçmen                  True
Doğum oranı             True
Ortalama yaş            True
Şehirleşme oranı        True
Dünya nüfus oranı       True
dtype: bool

In [5]:
nufus.notna().sum()

Sıralama                232
Ülke                    232
Nüfüs                   232
Yıllık değişim oranı    232
Yıllık değişim          232
Kişi/km2                232
km2                     232
Göçmen                  200
Doğum oranı             198
Ortalama yaş            200
Şehirleşme oranı        225
Dünya nüfus oranı       232
dtype: int64

In [6]:
nufus[nufus["Şehirleşme oranı"].isnull()]
nufus[nufus["Dünya nüfus oranı"].isnull()]
nufus[nufus["Ortalama yaş"].isnull()]

,Sıralama,Ülke,Nüfüs,Yıllık değişim oranı,Yıllık değişim,Kişi/km2,km2,Göçmen,Doğum oranı,Ortalama yaş,Şehirleşme oranı,Dünya nüfus oranı
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,202.0,Isle of Man,"84,831",0.65 %,544,149,570,NaN,NaN,NaN,54 %,0.00 %
202,203.0,Andorra,"76,953",-0.02 %,-12,164,470,NaN,NaN,NaN,90 %,0.00 %
203,204.0,Dominica,"74,308",0.52 %,383,99,750,NaN,NaN,NaN,69 %,0.00 %
204,205.0,Cayman Islands,"62,348",1.28 %,789,260,240,NaN,NaN,NaN,98 %,0.00 %
205,206.0,Bermuda,"61,07",-0.45 %,-279,"1,221",50,NaN,NaN,NaN,NaN,0.00 %
206,207.0,Greenland,"56,565",0.15 %,85,0,"410,45",NaN,NaN,NaN,88 %,0.00 %
207,208.0,Saint Kitts & Nevis,"55,85",0.91 %,505,215,260,NaN,NaN,NaN,33 %,0.00 %
208,209.0,American Samoa,"55,679",0.07 %,38,278,200,NaN,NaN,NaN,88 %,0.00 %
209,210.0,Northern Mariana Islands,"55,194",0.09 %,50,120,460,NaN,NaN,NaN,90 %,0.00 %
210,211.0,Marshall Islands,"53,167",0.08 %,40,295,180,NaN,NaN,NaN,74 %,0.00 %
211,212.0,Faeroe Islands,"49,489",0.40 %,199,35,"1,396",NaN,NaN,NaN,43 %,0.00 %
212,213.0,Sint Maarten,"40,552",1.08 %,432,"1,193",34,NaN,NaN,NaN,NaN,0.00 %
213,214.0,Monaco,"38,897",0.52 %,202,"26,105",1,NaN,NaN,NaN,NaN,0.00 %
214,215.0,Liechtenstein,"38,155",0.61 %,233,238,160,NaN,NaN,NaN,14 %,0.00 %
215,216.0,Turks and Caicos,"35,963",1.46 %,517,38,950,NaN,NaN,NaN,91 %,0.00 %
216,217.0,Gibraltar,"34,733",0.47 %,162,"3,473",10,NaN,NaN,NaN,85 %,0.00 %
217,218.0,San Marino,"33,557",0.47 %,157,559,60,NaN,NaN,NaN,90 %,0.00 %
218,219.0,British Virgin Islands,"31,719",1.68 %,523,211,150,NaN,NaN,NaN,43 %,0.00 %
219,220.0,Caribbean Netherlands,"25,702",1.20 %,304,78,328,NaN,NaN,NaN,60 %,0.00 %
220,221.0,Palau,"21,964",1.08 %,235,48,460,NaN,NaN,NaN,87 %,0.00 %
221,222.0,Cook Islands,"17,411",0.18 %,31,73,240,NaN,NaN,NaN,91 %,0.00 %
222,223.0,Anguilla,"15,045",0.91 %,136,167,90,NaN,NaN,NaN,99 %,0.00 %
223,224.0,Wallis & Futuna,"11,683",-0.76 %,-90,83,140,NaN,NaN,NaN,0 %,0.00 %
224,225.0,Nauru,"11,312",-0.41 %,-47,566,20,NaN,NaN,NaN,90 %,0.00 %
225,226.0,Tuvalu,"11,287",0.85 %,95,376,30,NaN,NaN,NaN,54 %,0.00 %
226,227.0,Saint Pierre & Miquelon,"6,342",0.35 %,22,28,230,NaN,NaN,NaN,86 %,0.00 %
227,228.0,Montserrat,"5,203",0.50 %,26,52,100,NaN,NaN,NaN,9 %,0.00 %
228,229.0,Saint Helena,"4,074",0.62 %,25,10,390,NaN,NaN,NaN,40 %,0.00 %
229,230.0,Falkland Islands,"2,922",0.41 %,12,0,"12,17",NaN,NaN,NaN,81 %,0.00 %
230,231.0,Niue,"1,624",0.37 %,6,6,260,NaN,NaN,NaN,33 %,0.00 %
231,232.0,Tokelau,"1,319",1.46 %,19,132,10,NaN,NaN,NaN,0 %,0.00 %
232,233.0,Holy See,801,1.14 %,9,"2,003",0,NaN,NaN,NaN,NaN,0.00 %

In [12]:
new_nufus = nufus.dropna(thresh=12)
new_nufus = nufus.dropna(thresh=9)
new_nufus = nufus.dropna(thresh=10)
new_nufus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 200
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Sıralama              195 non-null    float64
 1   Ülke                  195 non-null    object
 2   Nüfüs                 195 non-null    object
 3   Yıllık değişim oranı  195 non-null    object
 4   Yıllık değişim        195 non-null    object
 5   Kişi/km2              195 non-null    object
 6   km2                   195 non-null    object
 7   Göçmen                195 non-null    object
 8   Doğum oranı           195 non-null    float64
 9   Ortalama yaş          195 non-null    float64
 10  Şehirleşme oranı      195 non-null    object
 11  Dünya nüfus oranı     195 non-null    object
dtypes: float64(3), object(9)
memory usage: 19.8+ KB

In [8]:
# drop if both columns are empty
new_nufus = nufus.dropna(subset=["Ortalama yaş", "Doğum oranı"], how="all")
new_nufus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 0 to 200
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Sıralama              200 non-null    float64
 1   Ülke                  200 non-null    object
 2   Nüfüs                 200 non-null    object
 3   Yıllık değişim oranı  200 non-null    object
 4   Yıllık değişim        200 non-null    object
 5   Kişi/km2              200 non-null    object
 6   km2                   200 non-null    object
 7   Göçmen                200 non-null    object
 8   Doğum oranı           198 non-null    float64
 9   Ortalama yaş          200 non-null    float64
 10  Şehirleşme oranı      197 non-null    object
 11  Dünya nüfus oranı     200 non-null    object
dtypes: float64(3), object(9)
memory usage: 20.3+ KB