# PANDAS SECOND EXERCISE

## NBA Analysis

In [1]:
import pandas as pd

In [41]:
nba = pd.read_csv("./pandas/nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
nba.head(10)
nba["Name"].value_counts()
len(nba.index)

458

In [14]:
avg_salary = nba["Salary"].mean()
round(avg_salary, 2)
highest = nba["Salary"].max()

In [48]:
nba[nba["Salary"] == highest][["Name","Team"]]

            Name                Team
109  Kobe Bryant  Los Angeles Lakers

In [53]:
age_filter = (20 <= nba["Age"]) & (nba["Age"] <=25)
nba[age_filter][["Name","Team","Age"]].sort_values(["Age", "Name"],ascending=[False,True])

                 Name                    Team   Age
404     Adreian Payne  Minnesota Timberwolves  25.0
428   Al-Farouq Aminu  Portland Trail Blazers  25.0
0       Avery Bradley          Boston Celtics  25.0
105       C.J. Wilcox    Los Angeles Clippers  25.0
151  Cameron Bairstow           Chicago Bulls  25.0
..                ...                     ...   ...
208      Myles Turner          Indiana Pacers  20.0
441       Noah Vonleh  Portland Trail Blazers  20.0
192   Stanley Johnson         Detroit Pistons  20.0
452        Trey Lyles               Utah Jazz  20.0
401        Tyus Jones  Minnesota Timberwolves  20.0

[197 rows x 3 columns]

In [58]:
name_filter = nba["Name"] == "John Holland"
nba[["Name","Team"]][name_filter]
nba["Team"][name_filter].iloc[0]

'Boston Celtics'

In [25]:
group_by_team = nba.groupby("Team")["Salary"].mean()
group_by_team.sort_values(inplace=True, ascending=False)
round(group_by_team)

Team
Cleveland Cavaliers       7642049.0
Miami Heat                6347359.0
Los Angeles Clippers      6323643.0
Oklahoma City Thunder     6251020.0
Golden State Warriors     5924600.0
Chicago Bulls             5785559.0
San Antonio Spurs         5629516.0
Memphis Grizzlies         5467920.0
Charlotte Hornets         5222728.0
Washington Wizards        5088576.0
Houston Rockets           5018868.0
Atlanta Hawks             4860197.0
Los Angeles Lakers        4784695.0
Sacramento Kings          4778911.0
Dallas Mavericks          4746582.0
Toronto Raptors           4741174.0
Minnesota Timberwolves    4593054.0
New York Knicks           4581494.0
Detroit Pistons           4477884.0
Indiana Pacers            4450122.0
New Orleans Pelicans      4355304.0
Milwaukee Bucks           4350220.0
Orlando Magic             4297248.0
Denver Nuggets            4294424.0
Phoenix Suns              4229676.0
Utah Jazz                 4204006.0
Boston Celtics            4181505.0
Brooklyn Nets             3501898.0
Portland Trail Blazers    3220121.0
Philadelphia 76ers        2213778.0
Name: Salary, dtype: float64

In [60]:
# team count
nba["Team"].nunique()
# players by team
nba["Team"].value_counts()

30

In [66]:
nba.dropna(how="any",inplace=True)
and_filter = nba["Name"].str.lower().str.contains("and")
nba[and_filter]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
52,Carl Landry,Philadelphia 76ers,7.0,PF,32.0,6-9,248.0,Purdue,6500000.0
78,Andrew Bogut,Golden State Warriors,12.0,C,31.0,7-0,260.0,Utah,13800000.0
83,Andre Iguodala,Golden State Warriors,9.0,SF,32.0,6-6,215.0,Arizona,11710456.0
87,Brandon Rush,Golden State Warriors,4.0,SF,30.0,6-6,220.0,Kansas,1270964.0
94,Branden Dawson,Los Angeles Clippers,22.0,SF,23.0,6-6,225.0,Michigan State,525093.0
98,DeAndre Jordan,Los Angeles Clippers,6.0,C,27.0,6-11,265.0,Texas A&M,19689000.0
106,Brandon Bass,Los Angeles Lakers,2.0,PF,31.0,6-8,250.0,LSU,3000000.0
115,Julius Randle,Los Angeles Lakers,30.0,PF,21.0,6-9,250.0,Kentucky,3132240.0
127,Brandon Knight,Phoenix Suns,3.0,PG,24.0,6-3,189.0,Kentucky,13500000.0
137,James Anderson,Sacramento Kings,5.0,SG,27.0,6-6,213.0,Oklahoma State,1015421.0
149,Eric Moreland,Sacramento Kings,25.0,PF,24.0,6-10,238.0,Oregon State,845059.0
188,Andre Drummond,Detroit Pistons,0.0,C,22.0,6-11,279.0,Connecticut,3272091.0
227,Justin Anderson,Dallas Mavericks,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0
238,Chandler Parsons,Dallas Mavericks,25.0,SF,27.0,6-10,230.0,Florida,15361500.0
248,Andrew Goudelock,Houston Rockets,0.0,PG,27.0,6-3,200.0,Charleston,200600.0
259,Chris Andersen,Memphis Grizzlies,7.0,PF,37.0,6-10,245.0,Blinn College,5000000.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
274,Brandan Wright,Memphis Grizzlies,34.0,PF,28.0,6-10,210.0,North Carolina,5464000.0
276,Ryan Anderson,New Orleans Pelicans,33.0,PF,28.0,6-10,240.0,California,8500000.0
291,Orlando Johnson,New Orleans Pelicans,0.0,SG,27.0,6-5,220.0,UC Santa Barbara,55722.0
295,Kyle Anderson,San Antonio Spurs,1.0,SF,22.0,6-9,230.0,UCLA,1142880.0
304,Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.0
362,Andrew Nicholson,Orlando Magic,44.0,PF,26.0,6-9,250.0,St. Bonaventure,2380593.0
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0
386,Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0
411,Andrew Wiggins,Minnesota Timberwolves,22.0,SG,21.0,6-8,199.0,Kansas,5758680.0
415,Randy Foye,Oklahoma City Thunder,6.0,SG,32.0,6-4,213.0,Villanova,3135000.0
423,Andre Roberson,Oklahoma City Thunder,21.0,SG,24.0,6-7,210.0,Colorado,1210800.0
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0

In [131]:
nba.iloc[-5:,::-1]
nba.iloc[-5:,:-2]
nba.iloc[:10,1:4]
nba.iloc[:10,[1,3,5]]
nba.iloc[[1,3,7],:]
nba.iloc[2]
nba.iloc[2:5]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

## YOUTUBE Analysis

In [67]:
import pandas as pd

 1- İlk 10 kaydı getiriniz.
 2- İkinci 5 kaydı getiriniz.
 3- Dataset' de bulunan kolon isimleri ve sayısını bulunuz.
 4- Aşağıda bulunan bazı kolonları silin ve kalan kolonları listeleyiniz.
 (thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description)
 5- Beğenme (like) ve beğenmeme (dislike) sayılarının ortalamasını bulunuz.
 6- ilk 50 videonun like ve dislike kolonlarını getiriniz.
 7- En çok görüntülenen video hangisidir ?
 8- En düşük görüntülenen video hangisidir?
 9- En fazla görüntülenen ilk 10 video hangisidir ?
 10- Kategoriye göre beğeni ortalamalarını sıralı şekilde getiriniz.
 11- Kategoriye göre yorum sayılarını yukarıdan aşağıya sıralayınız.
 12- Her kategoride kaç video vardır ?
 13- Her videonun title uzunluğu bilgisini yeni bir kolonda gösteriniz.
 14- Her video için kullanılan tag sayısını yeni kolonda gösteriniz.
 15- En popüler videoları listeleyiniz.(like/dislike oranına göre)

In [93]:
youtube = pd.read_csv("./datasets/youtube-ing.csv")
youtube.head()
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38916 entries, 0 to 38915
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                38916 non-null  object
 1   trending_date           38916 non-null  object
 2   title                   38916 non-null  object
 3   channel_title           38916 non-null  object
 4   category_id             38916 non-null  int64
 5   publish_time            38916 non-null  object
 6   tags                    38916 non-null  object
 7   views                   38916 non-null  int64
 8   likes                   38916 non-null  int64
 9   dislikes                38916 non-null  int64
 10  comment_count           38916 non-null  int64
 11  thumbnail_link          38916 non-null  object
 12  comments_disabled       38916 non-null  bool
 13  ratings_disabled        38916 non-null  bool
 14  video_error_or_removed  38916 non-null  bool
 15  description             38304 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.0+ MB

In [95]:
youtube.head(10)
youtube.iloc[10:15]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
10,ONQ-fAp5X64,17.14.11,CAN BABIES DO GYMNASTICS? **World Record**,Nile Wilson,17,2017-11-11T10:30:00.000Z,"nile wilson|""nile wilson gymnastics""|""nile wil...",306724,9591,266,448,https://i.ytimg.com/vi/ONQ-fAp5X64/default.jpg,False,False,False,➢ Join my FREE 7 Steps to Success - http://www...
11,Dlwf5u2BLAg,17.14.11,"TV Reporter Interviews Alleged Bank Robber, Th...",Inside Edition,25,2017-11-10T01:40:07.000Z,"reporter|""robbery""|""Crime""|""cat-news""|""police""...",254314,1746,125,298,https://i.ytimg.com/vi/Dlwf5u2BLAg/default.jpg,False,False,False,More from Inside Edition: https://www.youtube....
12,NVCqz2BDfcQ,17.14.11,Gucci Mane - Curve (ft. The Weeknd),OfficialGucciMane,10,2017-11-10T17:18:13.000Z,"Gucci Mane|""The Weeknd""|""Curve""|""Official""|""Mu...",946859,37986,816,2006,https://i.ytimg.com/vi/NVCqz2BDfcQ/default.jpg,False,False,False,Gucci Mane - Curve feat. The Weeknd\n\n Mr. Da...
13,MyEqfBkzESU,17.14.11,EXTREME GOLDEN TAN TRANSFORMATION,John Maclean,26,2017-11-10T20:40:44.000Z,"Extreme Tan|""Tanning""|""Tanning Bed""|""How to ge...",300617,8133,2693,2911,https://i.ytimg.com/vi/MyEqfBkzESU/default.jpg,False,False,False,-\n\n\nWebsite - http://www.johnmaclean.co.uk\...
14,b4vTZx_AtHk,17.14.11,How To Dry a Shirt in 30 Seconds,HowToBasic,26,2017-11-09T18:36:48.000Z,"how to dry a shirt in 30 seconds|""how to dry a...",2063667,98804,11682,11443,https://i.ytimg.com/vi/b4vTZx_AtHk/default.jpg,False,False,False,Today I show you how to completely dry a shirt...

In [100]:
youtube.describe()
youtube.columns
len(youtube.columns)
# youtube.value_counts

16

In [101]:
# drop some columns
youtube.drop(labels=["thumbnail_link","comments_disabled","ratings_disabled","video_error_or_removed","description"], axis=1, inplace=True)
youtube

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30
...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933
38912,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330
38913,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423

In [105]:
youtube[['likes', 'dislikes']].mean()
youtube.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count'],
      dtype='object')

In [132]:
youtube[:50][['likes', 'dislikes']]
youtube.head(50)[['likes', 'dislikes']]

      likes  dislikes
0     55681     10247
1     25561      2294
2    787420     43420
3       193        12
4        30         2
5     52708      1431
6   1634124     21082
7     57309       749
8      2163       147
9    190084     15015
10     9591       266
11     1746       125
12    37986       816
13     8133      2693
14    98804     11682
15    12553      2146
16    22326       833
17   286269      4083
18   202676      3394
19    72593      1830
20    10028       248
21   263918      1502
22   207262      3167
23    25115       499
24     4577       292
25    52829      1524
26      629        77
27     5029        81
28   307435      2573
29      399        14
30     5364       153
31     7999        84
32    84426      1130
33     1881       182
34      240        16
35   126078     10294
36       33         6
37     1267        38
38     4604        46
39    53572       168
40     4935       177
41    19323       245
42     9210        71
43    32648      6221
44     3946       295
45    11107       212
46    22303       700
47     3872        16
48    65854      2442
49    14303       398

In [107]:
max_views = youtube['views'] == youtube['views'].max()
min_views = youtube['views'] == youtube['views'].min()
youtube[max_views]
youtube[min_views]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count
3477,n26wtR-OFr8,17.01.12,Mountain Bikers Worried About Military Land Be...,That's Surrey TV,25,2017-11-27T18:08:49.000Z,"Surrey|""That's TV""|""That's Surrey""|""mountain b...",851,12,0,3

In [133]:
youtube.sort_values("views", ascending=False).head(10)[["title","views"]]

                                                   title      views
28412  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  424538912
28212  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  413586699
28008  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  402650804
27811  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  392036878
27615  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  382401497
27424  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  372399338
27241  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  362111555
27052  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  349987176
26861  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  339629489
34460  Te Bote Remix - Casper, Nio García, Darell, Ni...  337621571

In [137]:
like_by_category = youtube.groupby('category_id')['likes'].mean()
like_by_category.sort_values(ascending=False)

category_id
10    272138.508943
29    271695.733333
24     81572.362012
23     78431.168490
28     61531.127413
1      57205.523089
22     46273.495899
43     41836.900000
17     39270.313057
20     39220.127517
27     38440.687090
15     28629.913858
26     26639.183091
25     25021.685714
2      24608.506944
19      9674.447917
Name: likes, dtype: float64

In [138]:
comments_by_category = youtube.groupby('category_id')['comment_count'].sum()
# comments_by_category
comments_by_category.sort_values(ascending=False)

category_id
10    293013140
24    116897440
22     18713149
23     16718816
1      15590011
17     10056226
25      9386604
29      7672790
26      7356296
20      6166994
28      4029065
27      1636903
15      1404698
2        505085
19       118177
43        80957
Name: comment_count, dtype: int64

In [120]:
youtube["category_id"].value_counts()

category_id
10    13754
24     9124
22     2926
1      2577
26     1928
17     1907
23     1828
20     1788
25     1225
15      534
28      518
27      457
2       144
19       96
29       90
43       20
Name: count, dtype: int64

In [125]:
youtube["Title Length"] = youtube["title"].apply(len)
youtube

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,Title Length,Tag Count
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,45,9
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,41,36
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,42,6
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,76,9
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,55,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,61,4
38912,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,51,41
38913,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,34,17
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,75,8
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,51,18

In [124]:
youtube["Tag Count"] = youtube["tags"].apply(lambda num:len(num.split("|")))
youtube

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,Title Length,Tag Count
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,45,9
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,41,36
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,42,6
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,76,9
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,55,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,61,4
38912,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,51,41
38913,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,34,17
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,75,8
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,51,18

In [129]:
# do not include zor like or dislikes!
youtube["popularity"] = youtube["likes"] / youtube["dislikes"]
youtube.sort_values("popularity",ascending=False)[youtube["dislikes"]>0].head(10)

C:\Users\param\AppData\Local\Temp\ipykernel_1964\1133784759.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  youtube.sort_values("popularity",ascending=False)[youtube["dislikes"]>0].head(10)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,Title Length,Tag Count,popularity
14247,v9ea5VDQfXg,18.26.01,JONGHYUN 종현 '우린 봄이 오기 전에 (Before Our Spring)' MV,SMTOWN,10,2018-01-24T03:00:02.000Z,"JONGHYUN|""종현""|""샤이니""|""SHINee""|""우린 봄이 오기 전에""|""Be...",1745016,332997,354,27522,48,8,940.669492
14021,v9ea5VDQfXg,18.25.01,JONGHYUN 종현 '우린 봄이 오기 전에 (Before Our Spring)' MV,SMTOWN,10,2018-01-24T03:00:02.000Z,"JONGHYUN|""종현""|""샤이니""|""SHINee""|""우린 봄이 오기 전에""|""Be...",1498763,310738,332,26463,48,8,935.957831
14469,v9ea5VDQfXg,18.27.01,JONGHYUN 종현 '우린 봄이 오기 전에 (Before Our Spring)' MV,SMTOWN,10,2018-01-24T03:00:02.000Z,"JONGHYUN|""종현""|""샤이니""|""SHINee""|""우린 봄이 오기 전에""|""Be...",1931795,345228,373,28029,48,8,925.544236
19525,N6hVmn9FM7o,18.21.02,Farewell.,ArchD n' Bacon_,20,2018-02-02T20:41:43.000Z,Oblivion,149127,10189,12,242,9,1,849.083333
15525,v9ea5VDQfXg,18.01.02,JONGHYUN 종현 '우린 봄이 오기 전에 (Before Our Spring)' MV,SMTOWN,10,2018-01-24T03:00:02.000Z,"JONGHYUN|""종현""|""샤이니""|""SHINee""|""우린 봄이 오기 전에""|""Be...",2364433,364886,434,29115,48,8,840.751152
19139,N6hVmn9FM7o,18.19.02,Farewell.,ArchD n' Bacon_,20,2018-02-02T20:41:43.000Z,Oblivion,112648,7353,9,179,9,1,817.000000
8757,zwrlJwed2mQ,17.27.12,BigCityBeats WORLD CLUB DOME Zero Gravity (Off...,BigCityBeats,24,2017-12-13T13:58:13.000Z,"BigCityBeats|""Zero Gravity""|""Flugzeug""|""Airpla...",58511,760,1,26,60,13,760.000000
19328,N6hVmn9FM7o,18.20.02,Farewell.,ArchD n' Bacon_,20,2018-02-02T20:41:43.000Z,Oblivion,132104,9031,12,206,9,1,752.583333
3245,c5_LROaHGtw,17.30.11,[EPISODE] BTS (방탄소년단) 'MIC Drop' MV Shooting,BANGTANTV,10,2017-11-29T10:00:03.000Z,"방탄소년단|""BTS""|""BANGTAN""|""HIPHOP""|""랩몬스터""|""RapMons...",1447420,245075,354,12157,44,17,692.302260
25359,eeOnYPobY_g,18.23.03,Shawn Mendes discusses new single “In My Blood...,Beats 1 Radio,10,2018-03-22T17:23:42.000Z,"Apple Music|""Beats 1""|""Beats 1 Radio""|""Beats R...",46162,4147,6,171,60,22,691.166667